// compress: true
@import "vars";

html{
    font-size: 15px;

    scroll-behavior: smooth;
}
body {
    margin: 0;
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif; 
    font-size: 1rem;
    color: @black;

    &.no-scroll{
        overflow: hidden;
    }
}

p{
    margin: 0 0 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.arrow__up{
    position: fixed;
    bottom: 10%;
    left: 50px;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

// Block------------
@import "blocks/container";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/nav";
@import "blocks/btn";
@import "blocks/section";
@import "blocks/description";
@import "blocks/arguments";
@import "blocks/price";
@import "blocks/footer";
@import "blocks/contact";
@import "blocks/form";
@import "blocks/burger";

// Helpers-------------
@import "blocks/helpers";