// main: ../style.less

.arguments{
    margin-bottom: 10rem;
    margin-top: 14rem;
}
.arg__header{
    margin-bottom: 3.6rem;
    
    text-align: center;
}
.arg__title{
    margin-bottom: 0.6rem;

    font-size: 3rem;
    color: @black;
    text-transform: uppercase;
    font-weight: 700;

    @media @tablet{
        font-size: 2.5rem;
    }
    @media @mobile-sm{
        font-size: 2.2rem;
    }
    
}
.arg__text{
    font-size: 1.2rem;
    color: @gray;
    font-weight: 300;

    @media @mobile-sm{
        font-size: 1rem;
    }
}

.arguments__inner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}
.arguments__col{
    flex-basis: 25%;
    padding: 1rem;

    @media @notebook{
        flex-basis: 50%;
    }  
    @media @mobile-sm{
        flex-basis: 100%;;
    }
    // @media @tablet{
    //     flex-basis: 50%;
    // }    
}
.arguments__item{
    background-color: fade(@black, 10%);
    min-height: 280px;
    text-align: center;
    box-shadow: 0 0 4px fade(#000, 25%);

    transition: box-shadow .2s linear; 
}
.arguments__img{
    padding-top: 1.5rem;

    width: 70px;
    height: auto;

    @media @notebook{
        padding-top: 10%;
    }
}
.arguments__content{
    padding: 1rem 2rem;
}
.arguments__text{
    margin-top: 0.6rem;
}