// main: ../style.less

.header{
    width: 100%;
    padding: 1rem 1rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    box-shadow: 0 0 6px fade(#000, 25%);
    background-color: #fff;

    @media @mobile-sm {
        padding: 1rem 0;
    }
}
.header__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_aps{
    width: 50px;

    @media @mobile {
        width: 40px;
    }
    @media @mobile-sm {
        width: 35px;
    }
}
.user__prof-top{
    padding-left: 1rem;
    font-family: 'Raleway', sans-serif;

    line-height: .6;
    font-size: 27px;
    font-weight: 600;
    color: @black;
    text-transform: uppercase;

    @media @mobile {
        font-size: 20px;
    }
    @media @mobile-sm {
        font-size: 15px;
    }
}
// .user__prof-bottom{
//     padding-left: 3rem;
//     font-family: 'Raleway', sans-serif;

//     line-height: .6;
//     font-size: 35px;
//     font-weight: 600;
//     color: @black;
// }
// .user__first{
// position: relative;
// }
// .user__second{
// position: absolute;
// top: 53px;
// left: 300px;
// bottom: 0;
// z-index: 1;
// }