// main: ../style.less


.intro__inner{
    display: flex;
    padding-top: 100px;
    padding-bottom: 120px;
    position: relative;

    background:
     url("../images/bg2.png")
    right bottom no-repeat;
    border-bottom: 1px solid fade(@gray, 30%);

    @media @tablet {
        padding-top: 3rem;
        padding-bottom: 5.3rem;

        background-size: 415px auto;
    }
    @media @mobile-sm {
        background-size: 400px auto;
    }
}
.intro__content{
    width: 50%;

    @media @mobile-sm {
        width: 100%;
    }
}
.intro__suptitle{
    font-size: 2.13rem;
    color: @black;
    font-weight: 200;

    @media @tablet {
        font-size: 1.5rem;
    }
}
.intro__title{
    margin-bottom: 5px;

    font-size: 3rem;
    color: @black;
    font-weight: 700;

    @media @tablet {
        font-size: 2rem;
    }
}
.intro__text{
    margin-bottom: 25px;

    font-size: 1.2rem;
    color: fade(@black, 70%); // Значение цвета и прозрачности
}
.intro__photo{
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 80px;
    top: 64px;
    z-index: 1;
    width: 270px;
    height: 440px;

    @media @tablet {
        width: 230px;
        height: 375px;
        top: 0;
        right: 40px;
    }
    @media @mobile-sm {
        display: none;
    }
}

